@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');

/* general */
.App{
  background-color: #ff8c4a;
  text-shadow: 2px 2px rgb(255, 104, 3);
  color: #fff;
}

/* header */
.App-header {
  padding-top: 180px;
  padding-bottom: 200px;
  color: rgb(255, 244, 83);
  font-family: 'Raleway', sans-serif;
  font-size: 400%;
  text-align: center;
  text-shadow: -1px 1px 0 rgba(255, 255, 255, 0.4), 
  -1px -1px 0 rgba(255, 255, 255, 0.4),
  7px 7px 0 rgb(255, 104, 3);

}

.App-header h2 {
  color: #fff;
  margin-top: -3%;
  margin-bottom: 0%;
  font-size: 80%;
}

/* general body */
.App-body {
  font-family: 'Raleway', sans-serif;
}

h2 {
  text-shadow: 5px 5px rgb(255, 104, 3);
  color: rgb(255, 244, 83);
  font-size: 300%;
}

h3 {
  font-size: 150%;
  text-shadow: 3px 3px rgb(255, 104, 3);
}


/* nav */
#nav {position: fixed; left: 0; top: 0; width: 100%;}
#nav ul {float: left; padding: 10px 40px; }
#nav ul li {display: inline; }
#nav ul li a {
  display: inline-block; 
  padding: 20px 20px; 
  color: #fff; 
  font-weight: normal; 
}

a:hover {
  border-bottom: 1px dashed #fff;
}

/* Seak Peak section */
#intro {
  text-align: left;
  line-height: 1.75;
  padding: 50px 150px 100px 150px;
}

#intro h3 {
  font-size: 200%;
  margin-left: 7%;
  margin-top: -3%;
  margin-bottom: -3%;
}

/* Interests section */
#interests {
  text-align: right;
  padding: 50px 150px 100px 150px;
}

ul, p {
  font-size: 100%;
}

button {
  border-style: none;
  background-color: #ff8c4a;
}

#comment {
  color: rgb(255, 102, 0);
  text-shadow: 0.7px 0.7px #fff, -0.7px -0.7px 0 #fff, 0.7px -0.7px 0 #fff, -0.7px 0.7px 0 #fff;
}

